.notfound-container{
  min-height: 60vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color:#333;
}

.notfound-container h1{
  font-size:72px;
  margin-bottom:10px;
}

.notfound-container p{
  font-size:18px;
}
